<%@ Template Language="C#" TargetLanguage="C#" Src="../../../BaseCodeTemplate.cs" Inherits="AbpCompanyName.AbpProjectName.BaseCodeTemplate" Encoding="utf-8" %>

<%--注册子模板--%>
<%@ Register Template="../../Common/CommonProperties.cst" Name="CommonProperties" MergeProperties="True" %> 
<%@ Register Template="../../Common/NameApplicationProperties.cst" Name="NameApplicationProperties" MergeProperties="True" %>
<%@ Register Template="../../Common/NameDtoProperties.cst" Name="NameDtoProperties" MergeProperties="True" %>

<%--引用.net框架程序集--%>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>

<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../../bin/Debug" %>
<%@ Import Namespace="AbpCompanyName.AbpProjectName.Helper" %>
<%
var props = GetEntityProps();
var getAllInputProps = GetAllInputProperties(props.EntityProps);
var entityDateTimeProps = Tool.GetDateTimeProperties(getAllInputProps);
%>
        /// <summary>
        /// 查询条件
        /// </summary>
        /// <param name="input"></param>
        /// <returns></returns>
        protected override IQueryable<<%=EntityName %>> CreateFilteredQuery(<%=GetAllInputName %> input)
        {
            //var filters = input.Filter.ToStringArray();
            <%foreach(var col in entityDateTimeProps) {%>
            var <%=Tool.ToFirstLetterCamel(col.Name) %>Range = input.<%=col.Name %>.ToDateTimeRange();
            <%} %>
            
            return base.CreateFilteredQuery(input)
                //.WhereIf(filters.Any(), a => a.BizNo.Contains(input.Filter) || filters.Contains(a.BizNo))
                <%foreach (var col in getAllInputProps){%>
                <%if(Tool.IsDataTime(col)){ %>                
                .WhereIf(<%=Tool.ToFirstLetterCamel(col.Name) %>Range != null, d => d.<%=col.Name %> >= <%=Tool.ToFirstLetterCamel(col.Name) %>Range.StartTime && d.<%=col.Name %> <= <%=Tool.ToFirstLetterCamel(col.Name) %>Range.EndTime)
                
                <% continue;}%>
                <%if(Tool.IsNumber(col)){ %>
                
                .WhereIf(input.<%=col.Name %>?.Start != null, a => a.<%=col.Name %> >= input.<%=col.Name %>.Start.Value)
                .WhereIf(input.<%=col.Name %>?.End != null, a => a.<%=col.Name %> >= input.<%=col.Name %>.End.Value)
                
                <% continue;}%>
                <%if(Tool.IsString(col)){ %>
                .WhereIf(!input.<%=col.Name %>.IsNullOrWhiteSpace(), a => a.<%=col.Name %>.Contains(input.<%=col.Name %>))
                <% continue;}%>
                <%if(col.PropertyType.IsValueType){ %>
                .WhereIf(input.<%=col.Name %>.HasValue, a => a.<%=col.Name %> == input.<%=col.Name %>.Value)
                <% continue;}%>
                <%}%>
                ;
        }
