<%@ Template Language="C#" TargetLanguage="C#" Src="../../../BaseCodeTemplate.cs" Inherits="AbpCompanyName.AbpProjectName.BaseCodeTemplate" Encoding="utf-8" %>

<%--注册子模板--%>
<%@ Register Template="../../Common/CommonProperties.cst" Name="CommonProperties" MergeProperties="True" %> 
<%@ Register Template="../../Common/NameApplicationProperties.cst" Name="NameCoreProperties" MergeProperties="True" %> 

<%--引用.net框架程序集--%>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Reflection" %>

<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../../bin/Debug" %>
<%@ Import Namespace="AbpCompanyName.AbpProjectName.Helper" %>
<%
var props = GetEntityProps();
var dtoProps = GetDtoProperties(props.EntityProps);
%>
using System;
using System.ComponentModel.DataAnnotations;
using Abp.Application.Services.Dto;
using Abp.AutoMapper;

namespace <%=EntityNamespace %>.Dto
{
    /// <summary>
    /// <%=EntitySummary %> 新增输入参数
    /// </summary>
    public class <%=DtoName %> : EntityDto<<%=PkType %>>
    {
        <%foreach (var col in dtoProps){%>
        /// <summary>
        /// <%=Tool.GetPropertySummary(col) %>
        /// </summary>
        public <%=Tool.GetCSharpNullableType(col) %> <%=col.Name %> { get; set; }

        <%}%>
    }    
}
