<%@ Template Language="C#" TargetLanguage="C#" Src="../../../BaseCodeTemplate.cs" Inherits="AbpCompanyName.AbpProjectName.BaseCodeTemplate" Encoding="utf-8" %>

<%--注册子模板--%>
<%@ Register Template="../../Common/CommonProperties.cst" Name="CommonProperties" MergeProperties="True" %> 
<%@ Register Template="Sub/DtoNamespace.cst" Name="DtoNamespace" MergeProperties="True" %> 

<%--引用.net框架程序集--%>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>

<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../../bin/Debug" %>
<%@ Import Namespace="AbpCompanyName.AbpProjectName.Helper" %>
<%
var N = Init();
%>
<%
RenderToResponse<DtoNamespace>();
%>
{
    /// <summary>
    /// <%=N.EntitySummary %>  查询Dto
    /// </summary>
    public class <%=N.QueryDtoName %> : <%=N.DtoName %>
    {
        <%if(Tool.IsExistsColByProp(N.EntityProps, "CreationTime", true)){%>public DateTime CreationTime { get; set; }<%} %>
        <%if(Tool.IsExistsColByProp(N.EntityProps, "CreatorId", true)){%>public Guid? CreatorId { get; set; }<%} %>
    }    
}
