<%@ Template Language="C#" TargetLanguage="C#" Src="../../BaseCodeTemplate.cs" Inherits="AbpCompanyName.AbpProjectName.BaseCodeTemplate" Encoding="utf-8" %>

<%--注册子模板--%>
<%@ Register Template="../Common/CommonProperties.cst" Name="CommonProperties" MergeProperties="True" %>  
<%@ Register Template="../Common/NameApplicationProperties.cst" Name="NameApplicationProperties" MergeProperties="True" %> 
<%@ Register Template="../Common/NameCoreProperties.cst" Name="NameCoreProperties" MergeProperties="True" %> 
<%@ Register Template="Sub/ConstructorWithPermission.cst" Name="ConstructorWithPermission" MergeProperties="True" %>  
<%@ Register Template="Sub/Constructor.cst" Name="Constructor" MergeProperties="True" %>  
<%@ Register Template="Sub/CreateFilteredQuery.cst" Name="CreateFilteredQuery" MergeProperties="True" %>  

<%--引用.net框架程序集--%>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>

<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../bin/Debug" %>
<%@ Import Namespace="AbpCompanyName.AbpProjectName.Helper" %>
using System;
using System.Linq;
using Abp.Domain.Repositories;
using Abp.Extensions;
using Abp.Linq.Extensions;
using <%=EntityNamespace %>.Dto;
using AbpCompanyName.AbpProjectName.Extensions;

namespace <%=EntityNamespace %>
{
    /// <summary>
    /// <%=EntitySummary %>  服务实现
    /// </summary>
    public class <%=ApplicationServiceName %> : AsyncCrudAppServiceBase<<%=EntityName %>, <%=QueryDtoName %>, <%=PkType %>, <%=GetAllInputName %>, <%=CreateInputName %>, <%=UpdateInputName %>>, I<%=ApplicationServiceName %>
    {
<%
RenderToResponse<Constructor>();
%>

<%
RenderToResponse<CreateFilteredQuery>();
%>
    }
}