<%@ Template Language="C#" TargetLanguage="C#" Src="../../BaseCodeTemplate.cs" Inherits="AbpCompanyName.AbpProjectName.BaseCodeTemplate" Encoding="utf-8" %>

<%--注册子模板--%>
<%@ Register Template="../Common/CommonProperties.cst" Name="CommonProperties" MergeProperties="True" %>  
<%@ Register Template="../Common/NameApplicationProperties.cst" Name="NameApplicationProperties" MergeProperties="True" %> 
<%@ Register Template="../Common/NameCoreProperties.cst" Name="NameCoreProperties" MergeProperties="True" %> 

<%--引用.net框架程序集--%>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>

<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../bin/Debug" %>
<%@ Import Namespace="AbpCompanyName.AbpProjectName.Helper" %>
using System.Threading.Tasks;
using Abp.Application.Services;
using Abp.Application.Services.Dto;
using <%=EntityNamespace %>.Dto;

namespace <%=EntityNamespace %>
{
    /// <summary>
    /// <%=EntitySummary %>  服务契约
    /// </summary>
    public interface I<%=ApplicationServiceName %> : IApplicationService
    {
        Task<PagedResultDto<<%=QueryDtoName %>> GetAll(<%=GetAllInputName %> input);

        Task<<%=QueryDtoName %>> Get(EntityDto<<%=PkType %>> input);

        //Task<<%=QueryDtoName %>> Create(<%=CreateInputName %> input);

        //Task<<%=QueryDtoName %>> Update(<%=UpdateInputName %> input);

        //Task Delete(EntityDto<<%=PkType %>> input);
    }
}
