<%@ Template Language="C#" TargetLanguage="C#" Src="../../CommonCode.cs" Inherits="CodeSmith.CommonCode" Encoding="utf-8" %>

<%@ Property Name="EntityName" Type="System.String" Category="01.数据源" Description="实体名称" Default="User" %>

<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../bin/Debug" %>
<%@ Import Namespace="CodeSmith" %>
