<%@ Template Language="C#" TargetLanguage="C#" Src="../../BaseCodeTemplate.cs" Inherits="AbpCompanyName.AbpProjectName.BaseCodeTemplate" Encoding="utf-8" %>

<%@ Property Name="VueSpaWebBaseAppService" Type="System.Boolean" Category="03.生成配置" Description="如果true,则需要先生成AppService，再生成web" Default="false"%>
<%@ Property Name="VueSpaWebPageName" Type="System.String" Category="03.生成配置" Description="生成VueSpaWeb名称" Optional="True" %>
<%@ Property Name="VueSpaWebPagePath" Type="System.String" Category="03.生成配置" Description="生成VueSpaWeb路径" Optional="True" %>

<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../bin/Debug" %>
<%@ Import Namespace="AbpCompanyName.AbpProjectName.Helper" %>
