<%@ Template Language="C#" TargetLanguage="C#" Src="../../BaseCodeTemplate.cs" Inherits="AbpCompanyName.AbpProjectName.BaseCodeTemplate" Encoding="utf-8" %>

<%@ Property Name="ApplicationService" Type="System.Boolean" Category="命名生成.Application" Description="生成应用服务" 
Default="true"%>
<%@ Property Name="IApplicationService" Type="System.Boolean" Category="命名生成.Application" Description="生成应用服务契约" 
Default="true"%>

<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../bin/Debug" %>
<%@ Import Namespace="AbpCompanyName.AbpProjectName.Helper" %>
