<%@ Template Language="C#" TargetLanguage="C#" Src="../../BaseCodeTemplate.cs" Inherits="AbpCompanyName.AbpProjectName.BaseCodeTemplate" Encoding="utf-8" %>

<%@ Property Name="DtoName" Type="System.String" Category="命名生成.Application.Dto" Description="Dto类名称，只有当Dto选中时有效" %>
<%@ Property Name="QueryDtoName" Type="System.String" Category="命名生成.Application.Dto" Description="QueryDto类名称，只有当QueryDto选中时有效" %>
<%@ Property Name="CreateOrUpdateInputName" Type="System.String" Category="命名生成.Application.Dto" Description="CreateOrUpdateInput类名称，只有当CreateOrUpdate选中时有效" %>
<%@ Property Name="CreateInputName" Type="System.String" Category="命名生成.Application.Dto" Description="CreateInput类名称，只有当Create选中时有效" %>
<%@ Property Name="UpdateInputName" Type="System.String" Category="命名生成.Application.Dto" Description="UpdateInput类名称，只有当Update选中时有效" %>
<%@ Property Name="GetAllInputName" Type="System.String" Category="命名生成.Application.Dto" Description="GetAllInput类名称，只有当GetAll选中时有效" %>


<%--导入自定义程序集--%>
<%@ Assembly Name="AbpCompanyName.AbpProjectName.CodeSmith" Path="../../bin/Debug" %>
<%@ Import Namespace="AbpCompanyName.AbpProjectName.Helper" %>
